:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --font-principal: 'edosz';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    
}

.principal {
  background-image: url(fundo.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-items: cente; 
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__titulo {
  margin: 23px;
  font-weight: 5;
  
}

.container__botao {
    background-color: #B0A2D4;
;
    border-radius: 5px;
    padding: 15px;
    color: var(--branco-principal);
    display: flex;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao__secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
  
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__imagem {
  margin: 2em 0 2em 0;
}

.container__caixa {
 margin: 0 6em;
}

.secundario__imagem {
  width: 80%;
}

.secundario {
  align-items: center;
  margin: 0 10em;
}

.descricao__titulo {
  font-weight: 100;
  font-size: 28px;
  color: white;
  margin-bottom: 0.1em;
font-weight: 10;
}

.descricao__texto {
  font-weight: 10;
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}
.container__descricao {
 padding: 2em;
}

.meio {
  text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.dispositivos {
  text-align: center;
}
.dispositivos__titulo {
  font-size: 48px;
  font-weight: 5;
}

.lista__item {
    font-size: 32px;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 4em;
}
.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
    padding: 15px;
}

.rodape {
  background-color: #612E8E;
    text-align: center;
   
    
}

.rodape__logo {
  margin: 2em;
}
